<div class="container text-center position-absolute top-50 start-50 translate-middle">
    <div class="row align-items-center">
        <div class="col">
            <h3 style="background-color: var(--brown); color: var(--white); width: 100%; padding:3px;">Login </h3>
            <form style="border: solid 4px var(--brown);" id="login-form">


                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        id="signup-username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="login-password">
                </div>

                <button type="submit" class="btn"
                    style="background-color: var(--grey); margin-bottom:4px; width: 100%">submit</button>
                <p><a class="link-opacity-100" href="/signup">Sign Up instead</a></p>
            </form>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>