:root {
    --brown: #2e1d1d;
    --mint: #c9f5d9;
    --white: white;
    --grey: #ccc;
}

nav {
    margin-left: 20px;
}

h1.home {
    background-color: var(--mint);
    color: var(--brown);
    border-radius: 8px;
    filter: drop-shadow(10px 5px 4px var(--grey));
    padding: 10px;
    margin-left: 30px;
    width: fit-content;
    font-weight: bold;
}